!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    - var title = 'Drawsgood'
    - var description = 'Portfolio'
    title= title
    meta(name='description', content=description)
    meta(http-equiv='cleartype', content='on')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(property='og:site_name', content=title)
    meta(property='og:type', content='website')
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:image', content='*********TODO*******')
    //- TODO: add apple touch icons and favicon similar to H5BP
    //- <https://github.com/h5bp/html5-boilerplate>
    link(rel="stylesheet", href="/css/style.css")
  body
    != page.html
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')
    script(src="/js/main.js")
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '*********TODO********']);
      _gaq.push(['_setDomainName', 'drawsgood.github.io']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
